/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
}

h1 {
  font-size: 38px;
}

input[type="submit"]:last-child:hover {


  background-color: gold;
  cursor: pointer;
  outline: none;
}

input[type="select"] {
  cursor: pointer;
  outline: none;
}

input[type="radio"] {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  background-image: url(../assets/stars.png);
  width: 27px;
  height: 27px;
}

input[type="radio"]:hover {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  background-image: url(../assets/stars.png);
  background-position-y: 60px;
  width: 27px;
  height: 27px;
}

input[type="radio"]:checked {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  background-image: url(../assets/stars.png);
  background-position-y: 30px;
  width: 27px;
  height: 27px;
}

h2 {
  font-size: 32px;
}

ol[id="directions"] {

  background-color: lightgray;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered List element */
ul li a {
  text-decoration: none;
  color: inherit;
}

/* This selector selects all image elements that are children (1 level deep)
of a header element */
header > img {
  width: 100px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {

  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

.user_review {
  border-top-width: 1px;
  border-style: solid;
  border-color: black;
}


